# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# ===============================
# Virtual Environments
# ===============================
venv/
.venv/
env/

# ===============================
# Jupyter Notebook
# ===============================
.ipynb_checkpoints/

# ===============================
# Model Files (Large)
# ===============================
*.h5
*.keras
*.pt
*.pth

# ===============================
# Dataset (Do NOT upload raw data)
# ===============================
data/raw/
data/processed/
dataset_split/
iris_dataset_split/

# ===============================
# Results & Outputs
# ===============================
results/
training_logs.txt

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE
# ===============================
.vscode/
.idea/
*.iml
